.nav-test .current{
    background-color: #ddd !important;
}
.nav-test{
    background-color: #4a514a;
    padding-left: 0px;
    display:flex;
    flex-direction: row;
    border-radius: 5px;
    color:#fff;
}
.nav-test li{
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav-test li a{
    align-self: center;
}
.nav-test li:hover{
    background-color: #da7070;
    color: #0b3b0b;
}
.nav-test li:first-of-type{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.nav-test li:last-of-type{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav-test .dropdown-menu li a{
    color : #0b3b0b !important;
}
.nav-test .dropdown-menu li a:hover {
    background-color: #ddd;
    color: #333;
}
.nav-test a{
    color: #fff;
}
.nav-test .dropdown-menu{
    margin: 0px;
    background-color: #29cf29;
}
.label{
    text-transform: capitalize;
    padding: 2px;
}
.label-info{
    background-color: gray;
    color: #f0f0f0;
    width:100%;
}